<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>瞎掰王</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<!--    <script src="{{ url_for('static', filename='js/bootstrap.esm.js') }}"></script>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-utilities.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-utilities.rtl.css') }}">

    <style>
        body{
            margin: 0;
            padding: 10px;
            font-family: Arial, sans-serif;
        }
        .bottom-spacing {
            padding-bottom: 60px; /* 根据需要调整值 */
        }
        .colmd8 {
            width: 80%
        }

        /* 创建斜着的彩条滚动背景 */
        body {
            background: linear-gradient(to bottom right,
                #ffcd39, #ffcd39,#fd7e14,#ffcd39 ,#ffcd39 ,#ffcd39,#fd7e14,#ffcd39,#ffcd39 ,#ffcd39,#ffcd39);
            background-size: 500% 500%; /* 设置背景尺寸为原始尺寸的三倍 */
            animation: dualColorScroll 3s linear infinite; /* 使用动画来实现滚动效果 */
        }

        /* 设置动画关键帧 */
        @keyframes dualColorScroll {
            0% {
                background-position: 0% 0%; /* 开始位置 */
            }
            100% {
                background-position: 50% 50%; /* 结束位置 */
            }
        }

        .animate-in {
            animation: slide-in 1s ease-in-out forwards;
        }

         .img-fluid2 {
            display: none; /* 默认隐藏 */
            position: fixed; /* 固定在屏幕上 */
            top: 40vh; /* 初始位置：垂直居中 */
            left: -100%; /* 初始位置：屏幕左侧外 */
            animation: slideIn 0.5s forwards; /* 动画效果 */
        }

        @keyframes slideIn {
            0% {
                left: -800%; /* 起始位置 */
            }
            100% {
                    left: 2vw; /* 终点位置 */
            }
        }

        .gamecard {
            width: 95vw;
            position: absolute;
            bottom: 50vh;
            left: 2vw;
            transform-style: preserve-3d;
            transition: transform 0.8s;
        }

        .gamecard:hover {
            transform: rotateY(180deg);
        }

        .front,
        .back {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
        }

        .back {
            transform: rotateY(180deg);
        }

        .hided {
            display: none!important;
        }

    </style>
</head>
<body style="background-color: #9eeaf9" >

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <!-- 网站名称 -->
            <h1 class="navbar-brand mb-0">瞎掰王 <span style="font-size: 10px">v1.0.3</span></h1>

            <!-- 信息小按钮 -->
            <button class="btn btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#infoModal" style="font-size: xx-small" onclick="help()">帮助</button>

            <!-- 在线人数 -->
            <p class="text-right mb-0" style="font-size: 10px; color: white">在线人数: <span id="playerNum">0/0/0</span></p>
        </div>
    </nav>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- 模态框头部 -->
          <div class="modal-header">
            <h5 class="modal-title" id="infoModalLabel">帮助</h5>
              <p style="width: 10px;"></p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- 模态框内容 -->
          <div class="modal-body">
              1. 这是一个根据《瞎掰王》制作的demo游戏。目前有四张教学卡片。当所有卡片都被抽完时，系统会进入阻塞状态(之后会调整)，需要重新刷新页面。<br>
              2. 目的是在和朋友出去玩的时候也能很方便的玩上一局，比如吃饭的时候。<br>
              3. 目前在测试阶段，只有一个房间(任何打开该网页的人都被连接到了同一个游戏房间)，最少游戏人数是3人，每张卡片有10秒的时间阅读/瞎编。
              聪明人有游戏的开始结束控制权。在结束以后，大家都可以阅读卡片。<br>
              4. 目前有一个消息窗口，也可以当聊天窗口用。<br>
              5. 在线人数P/W/C代表：正在游戏的人/等待游戏的人/还没设置用户名的人。<br>
              6. 瞎点点就知道该怎么用了。:)<br>
              7. Bug反馈给Yufan！<br>
              8. 已知bug，部署以后，浏览器出现连接延迟(用户退出后没有收到disconnected信号)。故不要测试关闭浏览器窗口。
          </div>
          <!-- 模态框底部 -->
<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>-->
<!--          </div>-->
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5 ">
        <img src="{{ url_for('static', filename='image/a_placeholder.png') }}" class="img-fluid" alt="Responsive image" style="height: 50vh; width: auto; border-radius: 30px; transform: scaleX(-1)">
    </div>

    <div class="d-flex justify-content-center mt-5 card-entry" id="card-container">
        <div class="gamecard img-fluid2" id="card">
            <div class="front">
                <img id="frontimg" src="{{ url_for('static', filename='image/a_example_1_1.jpg') }}" alt="Front Image" style="height: auto; width: 95vw; border-radius: 30px;">
            </div>
            <div class="back">
                <img id="backimg" src="{{ url_for('static', filename='image/a_example_1_1.jpg') }}"  alt="Back Image" style="height: auto; width: 95vw; border-radius: 30px;">
            </div>
        </div>
    </div>

    <!-- 开始游戏 结束游戏按钮 -->
    <div class="fixed-bottom d-flex justify-content-center bottom-spacing control-button hided" style="bottom: 92px" id="control-button">
        <button class="btn btn-primary" onclick="startGame()" id="startButton">开始游戏</button>

        <p style="width: 10px;"></p>
        <button class="btn btn-success" onclick="countDown()" id="countdownButton">发牌开始</button>

        <p style="width: 10px;"></p>
        <button class="btn btn-danger" onclick="endGame()" id="endButton">结束游戏</button>
    </div>

    <!-- 系统消息 -->
    <div class="fixed-bottom d-flex justify-content-center bottom-spacing ">
        <textarea id="systemMessages" class="form-control colmd8" rows="3" readonly style="margin-left: 25px; margin-right: 25px"></textarea>
    </div>

    <!-- 输入框和发送按钮 -->
    <div class="fixed-bottom mb-3 d-flex justify-content-center">
        <div class="colmd8 d-flex">
            <input id="messageInput" type="text" class="form-control" placeholder="请输入用户名...">
            <p style="width: 10px;"></p>
            <button class="btn btn-primary" onclick="sendMessage()" style="min-width: 100px">发送</button>
        </div>
    </div>

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function() {
            var cards = document.querySelectorAll(".card");
            cards.forEach(function(card) {
                card.addEventListener("click", function() {
                    this.classList.toggle("flipped");
                });
            });
        });

        var socket = io.connect('//' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to the server');
        });

        socket.on('system_message', function(data) {
            var systemMessagesTextarea = document.getElementById('systemMessages');
            if (data.message == null) {
                if (data.type == 'success') {
                    console.log('success');
                    document.getElementById('messageInput').placeholder = '请输入消息...';
                    // 显示button
                    document.getElementById('control-button').classList.remove('hided');
                }
            } else {
                systemMessagesTextarea.value += '\n' + '系统消息: ' + data.message;
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
            }

        });



        var playerRole = null;
        var imageThisRound = null;


        socket.on('player_message', function(data) {
            var systemMessagesTextarea = document.getElementById('systemMessages');
            systemMessagesTextarea.value += '\n' + data.username+': ' + data.message;
            systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
        });


        document.getElementById('endButton').disabled = true;
        document.getElementById('countdownButton').disabled = true;


        function gamestatechange(data) {
            var type = data.type;
            if (type == null) {
                return;
            }
            // start game
            // 身份牌
            if (type == 'smart' || type == 'honest' || type == 'liar') {
                playerRole = type;
                var imgElement = document.querySelector('.img-fluid');
                // 添加过渡效果并水平翻转图片
                imgElement.style.transition = 'transform 0.5s ease-in-out'; // 过渡效果，持续0.5秒，缓入缓出
                imgElement.style.transform = 'scaleX(1)';
                setTimeout(function() {
                    imgElement.src = "/static/image/a_" + type + ".png";
                }, 250); // 0.25秒后更改图片
                startGame_();
            }
            // 单词卡
            if ( type == 'honest' ) {
                var image = data.image;
                imageThisRound = image;
                var backimgElement = document.getElementById('backimg');
                backimgElement.src = "/static/image/" + image + "_2.jpg";
                var frontimgElement = document.getElementById('frontimg');
                frontimgElement.src = "/static/image/" + image + "_1.jpg";
            }
            if (type == 'smart' || type == 'liar') {
                var image = data.image;
                imageThisRound = image;
                var backimgElement = document.getElementById('backimg');
                backimgElement.src = "/static/image/" + image + "_1.jpg";
                var frontimgElement = document.getElementById('frontimg');
                frontimgElement.src = "/static/image/" + image + "_1.jpg";
            }
            // 按钮 (只有smart可以点击)
            if (type != null && type != 'smart' && type != 'countdown' && type != 'end' && type != 'end2' ) {
                var buttonElement = document.querySelector('.control-button');
                buttonElement.classList.add('hided');
            }
            if (type == 'smart') {
                // 禁用startButton 启用countdownButton和endButton
                document.getElementById('startButton').disabled = true;
                document.getElementById('countdownButton').disabled = false;
                document.getElementById('endButton').disabled = false;
            }

            // smart 可以点击倒计时
            if (type == 'countdown') {
                countDown_();
                var systemMessagesTextarea = document.getElementById('systemMessages');
                systemMessagesTextarea.value += '\n (测试阶段,故事显示10s)' ;
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;

                // 禁用countdownButton, startButton, 启用endButton
                document.getElementById('countdownButton').disabled = true;
                document.getElementById('startButton').disabled = true;
                document.getElementById('endButton').disabled = false;
            }

            // 结束游戏1
            if (type == 'end') {
                endGame_();

                // 禁用startButton, countdownButton, 启用endButton
                document.getElementById('startButton').disabled = true;
                document.getElementById('countdownButton').disabled = true;
                document.getElementById('endButton').disabled = false;
            }
            // 结束游戏2
            if (type == 'end2') {
                endGame2_();

                // 禁用endButton, countdownButton, 启用startButton
                document.getElementById('startButton').disabled = false;
                document.getElementById('countdownButton').disabled = true;
                document.getElementById('endButton').disabled = true;
            }

        }

        socket.on('game_message', function(data) {
            if (data.message != null) {
                var systemMessagesTextarea = document.getElementById('systemMessages');
                systemMessagesTextarea.value += '\n' + data.message;
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
            }

            gamestatechange(data);
        });

        socket.on('system_state', function(data) {
            var playerNumTextarea = document.getElementById('playerNum');
            playerNumTextarea.innerHTML = data.message;
        });

        function sendMessage() {
            var messageInput = document.getElementById('messageInput');
            var message = messageInput.value;
            socket.emit('message_from_client', message);
            messageInput.value = ''; // 清空输入框
        }

        function startGame() {
            socket.emit('message_from_client','!!start');
        }

        function startGame_() {

        }

        function countDown() {
            socket.emit('message_from_client','!!countdown');
        }

        function countDown_() {
            setTimeout(function() {
                var imgElement2 = document.querySelector('.img-fluid2');
                imgElement2.style.display = 'block'; // 显示第二张图片
                imgElement2.classList.add('animate-in');
            }, 2000);
            // 30s 后 将backimg的src变成frontimg的src
            setTimeout(function() {
                var frontimgElement = document.getElementById('frontimg');
                var backimgElement = document.getElementById('backimg');
                backimgElement.src = frontimgElement.src;
                var systemMessagesTextarea = document.getElementById('systemMessages');
                systemMessagesTextarea.value += '\n (倒计时结束)' ;
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
            }, 10000);
        }


        function endGame_() {
            // 把单词卡背面给显示出来
            var backimgElement = document.getElementById('backimg');
            backimgElement.src = "/static/image/" + imageThisRound + "_2.jpg";
        }

        function endGame2_() {
            // 身份牌 翻转
            var imgElement = document.querySelector('.img-fluid');
            imgElement.style.transition = 'transform 0.5s ease-in-out'; // 过渡效果，持续0.5秒，缓入缓出
            imgElement.style.transform = 'scaleX(-1)';
            setTimeout(function () {
                imgElement.src = "/static/image/a_placeholder.png";
            }, 250); // 0.25秒后更改图片

            // 显示button 开始/结束
            var buttonElement = document.getElementById('control-button');
            buttonElement.classList.remove('hided');

            // 隐藏单词卡
            var imgElement2 = document.querySelector('.img-fluid2');
            imgElement2.style.display = 'none'; // 隐藏第二张图片
            imgElement2.classList.remove('animate-in');

            // 清空变量
            playerRole = null;
            imageThisRound = null;
        }

        function endGame() {
            socket.emit('message_from_client','!!end');
        }
    </script>
</body>
</html>
