<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>瞎掰王</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<!--    <script src="{{ url_for('static', filename='js/bootstrap.esm.js') }}"></script>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-utilities.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-utilities.rtl.css') }}">

    <style>
        body{
            margin: 0;
            padding: 10px;
            font-family: Arial, sans-serif;
        }
        .bottom-spacing {
            padding-bottom: 60px; /* 根据需要调整值 */
        }

        .bottom-spacing-2 {
            padding-bottom: 152px; /* 根据需要调整值 */
        }

        .colmd8 {
            width: 80%
        }

        /* 创建斜着的彩条滚动背景 */
        body {
            background: linear-gradient(to bottom right,
                #ffcd39, #ffcd39,#fd7e14,#ffcd39 ,#ffcd39 ,#ffcd39,#fd7e14,#ffcd39,#ffcd39 ,#ffcd39,#ffcd39);
            background-size: 500% 500%; /* 设置背景尺寸为原始尺寸的三倍 */
            animation: dualColorScroll 3s linear infinite; /* 使用动画来实现滚动效果 */
        }

        /* 设置动画关键帧 */
        @keyframes dualColorScroll {
            0% {
                background-position: 0% 0%; /* 开始位置 */
            }
            100% {
                background-position: 50% 50%; /* 结束位置 */
            }
        }

        .animate-in {
            animation: slide-in 1s ease-in-out forwards;
        }

         .img-fluid2 {
            display: none; /* 默认隐藏 */
            position: fixed; /* 固定在屏幕上 */
            top: 25vh; /* 初始位置：垂直居中 */
            left: -100%; /* 初始位置：屏幕左侧外 */
            animation: slideIn 0.5s forwards; /* 动画效果 */
        }

        @keyframes slideIn {
            0% {
                left: -800%; /* 起始位置 */
            }
            100% {
                    left: 2vw; /* 终点位置 */
            }
        }

        .gamecard {
            width: 95vw;
            position: absolute;
            bottom: 50vh;
            left: 2vw;
            transform-style: preserve-3d;
            transition: transform 0.8s;
        }

        .gamecard.flipped {
            transform: rotateY(180deg);
        }

        .front,
        .back {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
        }

        .back {
            transform: rotateY(180deg);
        }

        .hided {
            display: none!important;
        }

    </style>
</head>
<body style="background-color: #9eeaf9" >

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <!-- 网站名称 -->
            <h1 class="navbar-brand mb-0">瞎掰王 <span style="font-size: 10px">v1.2.1</span></h1>

            <!-- 信息小按钮 -->
            <button class="btn btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#infoModal" style="font-size: xx-small">说明</button>
            <button class="btn btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#ruleModal" style="font-size: xx-small">规则</button>
            <button class="btn btn-outline-light hided" type="button" data-bs-toggle="modal" data-bs-target="#setModal" style="font-size: xx-small" id="setButton">设定</button>

            <!-- 在线人数 -->
            <p class="text-right mb-0" style="font-size: 10px; color: white">在线人数: <br><span id="playerNum">0/0/0</span></p>
        </div>
    </nav>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- 模态框头部 -->
          <div class="modal-header">
            <h5 class="modal-title" id="infoModalLabel">说明</h5>
              <p style="width: 10px;"></p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- 模态框内容 -->
          <div class="modal-body">
              1. 这是一个根据《瞎掰王》制作的demo游戏。目前有 4张教学卡片 或 500张游戏卡片。当所有卡片都被抽完时，系统会重复卡片。<br>
              2. 目的是在和朋友出去玩的时候也能很方便的玩上一局，比如吃饭的时候。<br>
              3. 最少游戏人数是3人，每张卡片有40秒的时间阅读/瞎编，在设置中改变倒计时时间。<br>
              4. "大聪明"有游戏的开始结束控制权。在结束以后，大家都可以阅读卡片。<br>
              5. 目前有一个消息窗口，也可以当聊天窗口用。<br>
              6. 目前在测试阶段，只有一个房间(任何打开该网页的人都被连接到了同一个游戏房间)。在线人数P/W/C代表：正在游戏的人/等待游戏的人/还没设置用户名的人。<br>
              7. 随便点点就知道该怎么用了。有问题，就刷新。还有问题，请去隔壁点击 重置房间 按钮。:)<br>
              8. Bug反馈给<a href="https://github.com/Yvvvan/BullshitKing/issues">Yvan Github Repo</a>。感谢Poi每次都带我玩好玩的桌游。<br>
              <br>
              (全部素材来源网上[桌游模拟器]，请支持[瞎掰王]正版！！！)
          </div>
          <!-- 模态框底部 -->
<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>-->
<!--          </div>-->
        </div>
      </div>
    </div>

    <div class="modal fade" id="ruleModal" tabindex="-1" aria-labelledby="ruleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
              <h5 class="modal-title" id="ruleModalLabel">规则</h5>
                <p style="width: 10px;"></p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- 模态框内容 -->
            <div class="modal-body">
                1. 设置用户名登陆<br>
                2. 等人到齐后(至少三人，推荐四人以上游玩)，可以用 [设定] 设置倒计时时间，卡组等等。<br>
                3. 任意玩家点击 [开始游戏] 开始发身份牌("大聪明"、"瞎掰人"、"老实人")。"大聪明"点击 [发牌] 开始发单词卡。单词卡发出以后会有倒计时。在倒计时内"老实人"可以点击卡片,看到背面的内容；"瞎掰人"只能看到正面的内容，点击无效，需要在规定时间内瞎掰一个内容。<br>
                4. 在倒计时结束后，卡片将不在可以翻转。"大聪明"选择任意发言者，开始听故事。"老实人"只需诚实地说出故事。"瞎掰人"需要以假乱真编出合适的故事。如果故事过于瞎掰，"聪明人"可以选择打断并发出"净ta喵扯淡"警告(只可警告当前的发言者)。在听完所有故事后，所有发言者可以相互质问。"大聪明"需要指认"老实人"。<br>
                5. 在指认后，大家公布自己的身份。<br>
                5.1 如果指认"老实人"成功，"大聪明"和"老实人"各获得X分(卡片上的难度分)。<br>
                5.2 如果指认失败，则被指认地"瞎掰人"获得X分。<br>
                5.3 如果警告牌发给了"瞎掰人"，被警告的瞎掰人会扣1分，"大聪明"获得1分。<br>
                5.4 如果警告牌发给了"老实人"，"大聪明"会扣3分。<br>
                6. "大聪明"点击 [结束游戏]，结束本局游戏，这时所有玩家可以查看卡片背面信息。再次点击 [结束游戏] 回收所有卡片和身份牌。<br>
                7. 玩家会轮流担任"大聪明"。<br>
                <img src="{{ url_for('static', filename='gamescreenshot.png') }}" class="" alt="screenshot" style="height: auto; width: 100%; border-radius: 30px;">
            </div>
            <!-- 模态框底部 -->
  <!--          <div class="modal-footer">-->
  <!--            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>-->
  <!--          </div>-->
          </div>
        </div>
      </div>

    <div class="modal fade" id="setModal" tabindex="-1" aria-labelledby="setModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
              <h5 class="modal-title" id="setModalLabel">设定</h5>
                <p style="width: 10px;"></p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- 模态框内容 -->
            <div class="modal-body">
                <!-- <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">用户名</span>
                  <input type="text" class="form-control" placeholder="请输入用户名" aria-label="Username" aria-describedby="basic-addon1">
                  <button class="btn btn-primary" type="button">更新</button>
                </div> -->

                <!-- 说明 -->
                <p>游戏修改(仅在游戏未开始前可操作):</p>

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">倒计时</span>
                  <input type="text" class="form-control" placeholder="默认40秒,在人到齐后更改!" aria-label="Username" aria-describedby="basic-addon1" id="setCountDown">
                  <button class="btn btn-primary" type="button" onclick="setCountDown()">设定</button>
                </div>

                <div class="text-center">
                    <button class="btn btn-dark" type="button" onclick="useFull()">加入500张卡片！</button>
                    <span style="width: 10px;"></span>
                    <button class="btn btn-success" type="button" onclick="useTutor()">只使用教学卡片！</button>
                </div>


                <p style="width: 10px;"></p>

                <!-- 前置初始化 -->
                <p>特别操作:</p>
                <div class="text-center">
                    <button class="btn btn-primary" type="button" onclick="skipThis()">跳过当前词</button>
                    <span style="width: 10px;"></span>
                    <button class="btn btn-danger" type="button" onclick="resetAll()">强制初始化</button>
                </div>

                
            </div>
            <!-- 模态框底部 -->
  <!--          <div class="modal-footer">-->
  <!--            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>-->
  <!--          </div>-->
          </div>
        </div>
      </div>

    <div class="d-flex justify-content-center mt-5 ">
        <img src="{{ url_for('static', filename='role/a_placeholder.png') }}" class="img-fluid" alt="Responsive image" style="height: 50vh; width: auto; border-radius: 30px; transform: scaleX(-1)">
    </div>

    <div class="d-flex justify-content-center mt-5 card-entry" id="card-container">
        <div class="gamecard img-fluid2" id="card">
            <div class="front">
                <img id="frontimg" src="{{ url_for('static', filename='image/a_example_1_1.png') }}" alt="Front Image" style="height: auto; width: 95vw; border-radius: 30px;">
            </div>
            <div class="back">
                <img id="backimg" src="{{ url_for('static', filename='image/a_example_1_1.png') }}"  alt="Back Image" style="height: auto; width: 95vw; border-radius: 30px;">
            </div>
        </div>
    </div>

    <!-- 开始游戏 结束游戏按钮 -->
    <div class="fixed-bottom d-flex justify-content-center bottom-spacing-2 control-button hided" id="control-button">
        <button class="btn btn-primary" onclick="startGame()" id="startButton">开始游戏</button>

        <p style="width: 10px;"></p>
        <button class="btn btn-success" onclick="countDown()" id="countdownButton">发牌开始</button>

        <p style="width: 10px;"></p>
        <button class="btn btn-danger" onclick="endGame()" id="endButton">结束游戏</button>
    </div>

    <!-- 系统消息 -->
    <div class="fixed-bottom d-flex justify-content-center bottom-spacing ">
        <textarea id="systemMessages" class="form-control colmd8" rows="3" readonly style="margin-left: 25px; margin-right: 25px"></textarea>
    </div>

    <!-- 输入框和发送按钮 -->
    <div class="fixed-bottom mb-3 d-flex justify-content-center">
        <div class="colmd8 d-flex">
            <input id="messageInput" type="text" class="form-control" placeholder="请输入用户名...">
            <p style="width: 10px;"></p>
            <button class="btn btn-primary" onclick="sendMessage()" style="min-width: 100px">发送</button>
        </div>
    </div>

    <script type="text/javascript">

        var playerRole = null;
        var imageThisRound = null;
        var countdownsecond = 40;
        var ending = 'png';
        var countDowns = [];

        document.getElementById('card').addEventListener('click', function() {
            this.classList.toggle('flipped');
        });

        document.getElementById('systemMessages').value = '\n看到此消息时，连接已断开，请在2秒后刷新页面！';

        // document.addEventListener("DOMContentLoaded", function() {
        //     var cards = document.querySelectorAll(".card");
        //     cards.forEach(function(card) {
        //         card.addEventListener("click", function() {
        //             this.classList.toggle("flipped");
        //         });
        //     });
        // });

        var socket = io.connect('//' + document.domain + ':' + location.port);
        socket.emit('message_from_client','!!reconnect');
        socket.emit('message_from_client','!!reconnect');

        socket.on('connect', function() {
            console.log('Connected to the server');
        });

        socket.on('system_message', function(data) {
            var systemMessagesTextarea = document.getElementById('systemMessages');

            // 连接之后
            if (data.type == 'handshake') {
                systemMessagesTextarea.value = '';
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
            }
            // 设定用户名后
            if (data.type == 'success') {
                console.log('success');
                document.getElementById('messageInput').placeholder = '请输入消息...';
                document.getElementById('control-button').classList.remove('hided');
                document.getElementById('setButton').classList.remove('hided');
                var systemMessagesTextarea = document.getElementById('systemMessages');
                systemMessagesTextarea.value += '\n' + '系统消息: 登录成功， 用户名: ' + data.message;
                // systemMessagesTextarea.value += '\n' + '系统消息: 如果没有看到 蓝、绿、红 三个按钮，请刷新页面！！';
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
                return;
            }
            // 设定倒计时
            if (data.type == 'settingCountDown') {
                countdownsecond = Number(data.value);
            }
            if (data.type == 'useFull') {
                ending = 'png';
            }
            if (data.type == 'useTutor') {
                ending = 'png';
            }
            if (data.type == 'resetAll') {
                resetAll_();
            }
            
            // 打印
            if (data.message == null) {
                
            } else {
                systemMessagesTextarea.value += '\n' + '系统消息: ' + data.message;
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
            }
            

        });


        socket.on('player_message', function(data) {
            var systemMessagesTextarea = document.getElementById('systemMessages');
            systemMessagesTextarea.value += '\n' + data.username+': ' + data.message;
            systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
        });


        document.getElementById('endButton').disabled = true;
        document.getElementById('countdownButton').disabled = true;


        function gamestatechange(data) {
            var type = data.type;
            var type2 = data.type2;
            if (type == null) {
                return;
            }
            // start game
            // 身份牌
            if (type == 'smart' || type == 'honest' || type == 'liar') {
                playerRole = type;
                var imgElement = document.querySelector('.img-fluid');
                // 添加过渡效果并水平翻转图片
                imgElement.style.transition = 'transform 0.5s ease-in-out'; // 过渡效果，持续0.5秒，缓入缓出
                imgElement.style.transform = 'scaleX(1)';
                setTimeout(function() {
                    imgElement.src = "/static/role/a_" + type + ".png";
                }, 250); // 0.25秒后更改图片
                startGame_();
            }
            // 单词卡
            if ( type == 'honest' ) {
                var image = data.image;
                imageThisRound = image;
                var backimgElement = document.getElementById('backimg');
                backimgElement.src = "/static/image/" + image + "_2." + ending;
                var frontimgElement = document.getElementById('frontimg');
                frontimgElement.src = "/static/image/" + image + "_1." + ending;
            }
            if (type == 'smart' || type == 'liar') {
                var image = data.image;
                imageThisRound = image;
                var backimgElement = document.getElementById('backimg');
                backimgElement.src = "/static/image/" + image + "_1." + ending;
                var frontimgElement = document.getElementById('frontimg');
                frontimgElement.src = "/static/image/" + image + "_1." + ending;
            }
            // 按钮 (只有smart可以点击)
            if (type == 'honest' || type == 'liar') {
                var buttonElement = document.querySelector('.control-button');
                buttonElement.classList.add('hided');
            }
            if (type == 'smart') {
                // 禁用startButton 启用countdownButton和endButton
                document.getElementById('startButton').disabled = true;
                document.getElementById('countdownButton').disabled = false;
                document.getElementById('endButton').disabled = false;
            }

            if (type2 != null) {
                countDown_();
                var systemMessagesTextarea = document.getElementById('systemMessages');
                systemMessagesTextarea.value += '\n重新加入时倒计时有错误，请以其他玩家为准';
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;

                // 禁用countdownButton, startButton, endButton
                // 在countDown_中有延迟的开放设置
                document.getElementById('countdownButton').disabled = true;
                document.getElementById('startButton').disabled = true;
                document.getElementById('endButton').disabled = true;
            }

            // smart 可以点击倒计时
            if (type == 'countdown') {
                countDown_();
                var systemMessagesTextarea = document.getElementById('systemMessages');
                systemMessagesTextarea.value += '\n... 倒计时 ' + countdownsecond + ' 秒' ;
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;

                // 禁用countdownButton, startButton, endButton
                // 在countDown_中有延迟的开放设置
                document.getElementById('countdownButton').disabled = true;
                document.getElementById('startButton').disabled = true;
                document.getElementById('endButton').disabled = true;
            }

            // 结束游戏1
            if (type == 'end') {
                endGame_();

                // 禁用startButton, countdownButton, 启用endButton
                document.getElementById('startButton').disabled = true;
                document.getElementById('countdownButton').disabled = true;
                document.getElementById('endButton').disabled = false;
            }
            // 结束游戏2
            if (type == 'end2') {
                endGame2_();

                // 禁用endButton, countdownButton, 启用startButton
                document.getElementById('startButton').disabled = false;
                document.getElementById('countdownButton').disabled = true;
                document.getElementById('endButton').disabled = true;
            }
            // 跳过当前词
            if (type == 'skip') {
                skipThis_();
            }

        }

        socket.on('game_message', function(data) {
            if (data.message != null) {
                var systemMessagesTextarea = document.getElementById('systemMessages');
                systemMessagesTextarea.value += '\n' + data.message;
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
            }

            gamestatechange(data);
        });

        socket.on('system_state', function(data) {
            var playerNumTextarea = document.getElementById('playerNum');
            playerNumTextarea.innerHTML = data.message;
        });

        function sendMessage() {
            var messageInput = document.getElementById('messageInput');
            var message = messageInput.value;
            socket.emit('message_from_client', message);
            messageInput.value = ''; // 清空输入框
        }

        function startGame() {
            socket.emit('message_from_client','!!start');
        }

        function startGame_() {

        }

        function countDown() {
            socket.emit('message_from_client','!!countdown');
        }

        function countDown_() {
            setTimeout(function() {
                var imgElement2 = document.querySelector('.img-fluid2');
                imgElement2.style.display = 'block'; // 显示第二张图片
                imgElement2.classList.add('animate-in');
                document.getElementById('startButton').disabled = true;
                document.getElementById('countdownButton').disabled = true;
                document.getElementById('endButton').disabled = true;
            }, 1000);
            
            var systemMessagesTextarea = document.getElementById('systemMessages');

            // 在9秒后每一秒发送倒计时剩余描述
            for (var i = 1; i < 10; i++) {
                (function(j){
                    var timer = setTimeout(function() {
                        systemMessagesTextarea.value += ' ...' + j;
                        systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
                    }, (countdownsecond - i) * 1000);
                    countDowns.push(timer);
                })(i);
            }
            
            var timer = setTimeout(function() {
                var frontimgElement = document.getElementById('frontimg');
                var backimgElement = document.getElementById('backimg');
                backimgElement.src = frontimgElement.src;
                systemMessagesTextarea.value += '\n... 倒计时结束 ...' ;
                systemMessagesTextarea.scrollTop = systemMessagesTextarea.scrollHeight;
                document.getElementById('startButton').disabled = true;
                document.getElementById('countdownButton').disabled = true;
                document.getElementById('endButton').disabled = false;
            }, countdownsecond * 1000);
            countDowns.push(timer);
        }


        function endGame_() {
            // 把单词卡背面给显示出来
            var backimgElement = document.getElementById('backimg');
            backimgElement.src = "/static/image/" + imageThisRound + "_2." + ending;

            // 清空倒计时器
            for (var i = 0; i < countDowns.length; i++) {
                clearTimeout(countDowns[i]);
            }
            
        }

        function endGame2_() {
            // 身份牌 翻转
            var imgElement = document.querySelector('.img-fluid');
            imgElement.style.transition = 'transform 0.5s ease-in-out'; // 过渡效果，持续0.5秒，缓入缓出
            imgElement.style.transform = 'scaleX(-1)';
            setTimeout(function () {
                imgElement.src = "/static/role/a_placeholder.png";
            }, 250); // 0.25秒后更改图片

            // 显示button 开始/结束
            var buttonElement = document.getElementById('control-button');
            buttonElement.classList.remove('hided');

            // 隐藏单词卡
            var imgElement2 = document.querySelector('.img-fluid2');
            imgElement2.style.display = 'none'; // 隐藏第二张图片
            imgElement2.classList.remove('animate-in');

            // 单词卡翻回
            document.getElementById('card').classList.remove('flipped');

            // 清空变量
            playerRole = null;
            imageThisRound = null;
        }

        function endGame() {
            socket.emit('message_from_client','!!end');
        }

        function setCountDown() {
            var setCountDown = document.getElementById('setCountDown').value;
            socket.emit('message_from_client','!!setCountDown ' + setCountDown);
        }

        function useFull() {
            socket.emit('message_from_client','!!useFull');
        }

        function useTutor() {
            socket.emit('message_from_client','!!useTutor');
        }

        function resetAll() {
            socket.emit('message_from_client','!!end');
            socket.emit('message_from_client','!!end');
            socket.emit('message_from_client','!!end');
            socket.emit('message_from_client','!!resetAll');
        }

        function resetAll_(){
            gamestatechange({type: 'end2'});

            for (var i = 0; i < countDowns.length; i++) {
                clearTimeout(countDowns[i]);
            }

            // 刷新页面
            location.reload();
        }

        function skipThis() {
            socket.emit('message_from_client','!!skip');
        }

        function skipThis_() {
            // 隐藏单词卡
            var imgElement2 = document.querySelector('.img-fluid2');
            imgElement2.style.display = 'none'; // 隐藏第二张图片
            imgElement2.classList.remove('animate-in');

            // 删除倒计时器
            for (var i = 0; i < countDowns.length; i++) {
                clearTimeout(countDowns[i]);
            }

            // 单词卡翻回
            document.getElementById('card').classList.remove('flipped');
        }
    </script>
</body>
</html>
